* {
    margin: 0;
    padding: 0;
}

body {
    font-family: cursive;
    background-color: whitesmoke;
}

/* main styling */

.main {
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* end of main stying */



/* styling container class */

.container {
    width: 100% auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-gap: 2px; */
}

/* end of styling container class */
.link {
    width: 250px;
    height: 20px;
    background-color: aliceblue;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.9);

}

.link>a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


/* image */

/* .b5 {
    grid-column: 1/4;
    grid-row: 2/4;
    height: 350px;
    width: 98.8%;
    margin: 5px;
}

.b5>img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
} */

.b5{
    background-image: url("./burst-kUqqaRjJuw0-unsplash.jpeg");
    grid-column: 1/4;
    grid-row: 2/4;
    background-size: cover;
    /* background-attachment: fixed; */
    /* background-repeat: repeat; */
    width: 745px;
    height: 400px;
    /* padding: 20px; */
    margin: 5px ;
    /* padding: 40px 45px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.article{
    margin: 2rem;
    line-height: 2.5rem;
    color: black;
    text-transform: capitalize;
    font-size: larger;
}
.article>button{
    padding: 0.5rem 4rem;
    background-color: gray;
    color: white;
}

/* end of image */


.box {
    width: 250px;
    height: 170px;
    background-color: aliceblue;
    margin: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.9);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.box>i{
    font-size: 50px;
}
.box>p:nth-child(2){
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 25px;
}
.box>p:nth-child(3){
    text-transform: capitalize;
}
.b6{
    text-transform: capitalize;
}
.b6>button{
    width: 100px;
    height: 30px;
    background-color: rgb(71, 67, 67);
    color: white;
    font-size: 13px;
    text-transform: capitalize;
}
.b7{
    text-transform: capitalize;
}
.b7>button{
    width: 100px;
    height: 30px;
    background-color: rgb(71, 67, 67);
    color: white;
    font-size: 13px;
    text-transform: capitalize;
}

/* media screens */

@media screen and (max-width: 1050px) {
    .container{
       width: 70% auto;
    }
    .box{
        width: 200px;
        height: 140px;
    }
    .link{
        width: 200px;
    }
    .b5{
       width: 620px;
    }
    .article{
       font-size: large;
    }
    .article>button{
       padding: 0.4rem 3rem;
    }
}

@media screen and (max-width: 800px) {
    .main{
        height: auto;
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container{
        width: 100% auto;
        display: flex;
        flex-direction: column;
    }
    .box{
        width: 300px;
        height: 170px;
    }
    .b5{
        width: 300px;
        height: 170px;
    }
    .link{
        width: 300px;
    }
    .article{
        font-size: small;
     }
     .article>button{
        padding: 0.4rem 3rem;
     }

}

@media screen and (max-width: 600px) {
    .main{
        height: auto;
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container{
        width: 100% auto;
        display: flex;
        flex-direction: column;
    }
    .b5{
        width: 250px;
        
    }
    .link{
        width: 250px;
    }
    .box{
        width: 250px;
    }
    
}